		<div class="canvas-area">
			<canvas id="totallyuniquecanvasname" width="650" height="600"></canvas>
		</div>

		<!--This is where we change the properties of the canvas objects-->
		<div class="tool-area">

			<div class="tool-box">
				<form id="form" onsubmit="return false;">
					<div class="tool-box">

						<label for="userInputCitat">Citat Nr</label>
						<select type="text" id="userInputCitat">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>

					</div>
					<div class="tool-box">

						<label for="userInput1">Citat</label>
						<textarea rows="5" cols="50" type="text" name="quote" form="form" id="userInput1">Enter text here...</textarea>

					</div>
					<div class="tool-box">

						<label for="userInput2">Teckenstorlek</label>
						<input type="number" id="userInput2" value="50"/>

					</div>
					<div class="tool-box">

						<label for="userInput3">Typsnitt</label>
						<select type="text" id="userInput3">
							<option>Times New Roman</option>
							<option>Indie Flower</option>
							<option>Tangerine</option>
							<option>Pacifico</option>
							<option>Garamond</option>
							<option>Verdana</option>
							<option>Arial</option>
							<option>Plaster</option>
							<option>Kaushan Script</option>
							<option>Permanent Marker</option>
							<option>Rock Salt</option>
							<option>Monoton</option>
						</select>

					</div>
					<div class="tool-box">

						<label for="userInput4">Bakgrundsfärg</label>
						<select type="text" id="userInput4">
							<option>Transparent</option>
							<option>White</option>
							<option>Black</option>
							<option>Lightblue</option>
							<option>Pink</option>
							<option>Red</option>
							<option>Orange</option>
							<option>Turquoise</option>								
						</select>

					</div>
					<div class="tool-box">

						<label for="userInput5">Textfärg</label>
						<select type="text" id="userInput5">
							<option>Black</option>
							<option>White</option>
							<option>Lightblue</option>
							<option>Yellow</option>
							<option>Orange</option>
							<option>Grey</option>
							<option>Purple</option>
						</select>
					</div>

				</form>
			</div>
		</div>

		<div class="action-area">
			<input class="buttons" type="button" value="Generera" onclick="textCanvas.generate();" />
			
			<input class="buttons" type="button" value="Reset" onclick="textCanvas.reset();" />

			<input class="buttons" type="button" value="Öppna Bild" onclick="textCanvas.image();" />

			<input class="buttons" type="button" value="Spara JSON" onclick="textCanvas.save();" />

			<input class="buttons" type="button" value="Hämta JSON" onclick="textCanvas.load();" />

		</div>
