@charset "utf-8";
/* CSS Document */

/* make body behave for the demo */
body{
  width:100%;
  height:100%;
  margin:0;
}

#background{
	display: none;
}

.canvas-area{
	display: block;
	float: right;
	margin: 2em;
	margin-right: 10%;
	max-width: 45%;
}

.canvas-area canvas{
	border:1px solid #000000;
}

.tool-area{
	display: block;
	float: left;
	margin: 2em;
	max-width: 45%;
}
.tool-box{
	display: block;
	float: left;
	clear: both;
}
.tool-box label {
	display:block;
	position:relative;
	margin: 0.2em;
	margin-top: 1em;
}

.action-area{
	display: block;
	clear: both;
	margin: 2em;
	margin-left: 50%;
}

.buttons{
	margin: 1em;
}
